[package]
name = "huak"
version = "0.0.0"
edition = "2021"
license = "MIT"
description = "A Python package manager written in Rust inspired by Cargo."
repository = "https://github.com/cnpryer/huak.git"
homepage = "https://github.com/cnpryer/huak.git"
categories = [
    "development-tools"
]

[lib]
name = "huak"
path = "./src/huak/lib.rs"

[[bin]]
name = "huak"
path = "./src/bin/huak/main.rs"

[dependencies]
anyhow = "1.0.62"
clap = {version = "3.2.17", features = ["cargo"]}
fs_extra = "1.2.0"
glob = "0.3.0"
serde = "1.0.144"
serde_derive = "1.0.144"
toml = "0.5.9"
serde_json = "1.0"
reqwest = { version = "0.11", features = ["blocking", "json"] } 
typer = "0.1.1"

[dev-dependencies]
tempfile = "3.0.4"
zip = "0.6.2"
