[package]
name = "huak"
version = "0.0.18"
edition = "2021"
license = "MIT"
description = "A Python package manager written in Rust inspired by Cargo."
repository = "https://github.com/cnpryer/huak.git"
homepage = "https://github.com/cnpryer/huak.git"
rust-version = "1.67.0"
categories = [
    "development-tools"
]

[lib]
name = "huak"
path = "./src/huak/lib.rs"
# We currently don't run doctest while the library is private.
doctest = false

[dependencies]
clap = { version = "4.1.14", features = ["cargo", "derive"] }
clap_complete = "4.2.0"
colored = "2.0.0"
git2 = "0.16.1"
glob = "0.3.1"
human-panic = "1.1.3"
indexmap = "1.9.3"
# included to build PyPi Wheels (see .github/workflow/README.md)
openssl = { version = "0.10.48", features = ["vendored"], optional = true }
pep440_rs = "0.3.3"
pep508_rs = "0.1.2"
pyproject-toml = "0.5.1"
regex = "1.7.1"
serde = { version = "1.0.156", features = ["derive"] }
serde_json = "1.0.94"
termcolor = "1.2.0"
thiserror = "1.0.40"
toml = { version = "0.7.3", features = ["preserve_order"] }
toml_edit = "0.19.4"

[dev-dependencies]
tempfile = "3.5.0"
