name: CI

on:
  push:
    branches:
      - "master"
    paths:
      - 'crates/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '.github/workflows/ci.yaml'
  pull_request:
    branches:
      - "master"
    paths:
      - 'crates/**'
      - 'Cargo.toml'
      - 'Cargo.lock'
      - '.github/workflows/ci.yaml'

env:
  PACKAGE_NAME: huak

jobs:
  test-and-build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    name: Test and build
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@v1
      - uses: actions/setup-python@v1
      - name: Install huak
        run: cargo install --path crates/huak_cli
      - name: Test
        run: cargo test --all-features

  lint-and-fmt:
    name: Lint and check fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v1
      - name: Run formatting checks
        run: |
          cargo fmt --all -- --check
      - name: Run lints
        env:
          RUSTFLAGS: -C debuginfo=0
        run: |
          cargo clippy --all-features
          cargo clippy -- -D warnings

  dry-release:
    name: Build with maturin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          architecture: x64
      - name: Build wheels
        uses: PyO3/maturin-action@v1